[submodule "xbox/nxdk"]
	path = xbox/nxdk
	url = https://git.jtryba.com/public/nxdk.git
	branch = sm64-xbox-audio-teardown-v1.0.2
[submodule "xbox/xgu"]
	path = xbox/xgu
	url = https://github.com/dracc/xgu.git
